<div class="card">
    <div class="col-1"></div>
    <div class="col-12">
        <div class="card-body">
            <div class="row">
                <div class="col-6 m-t-20">
                    <h6 class="card-subtitle">Lista de usuarios registrados es el sistema ({{ usuariosDB.total }}) </h6>
                </div>
                <div class="col-6 floating-labels m-t-10">
                    <div class="form-group m-b-5">
                        <input type="text" #palabra (keyup)="busqueda(palabra.value)" name="busqueda" class="form-control">
                        <span class="bar"></span>
                        <label for="" class="card-subtitle">Buscar...</label>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table color-table success-table table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{'Nombre' | uppercase }}</th>
                            <th>{{'Apellido' | uppercase}}</th>
                            <th>{{'Email' | uppercase}}</th>
                            <th>{{'Telefono' | uppercase}}</th>
                            <th class="text-center">{{'Acci&oacute;n' | uppercase}}</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let usuario of usuarios; index as i">
                        <tr>
                            <td>{{ (i + 1) }}</td>
                            <td>{{ usuario.name }}</td>
                            <td>{{ usuario.apellido }}</td>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.telefono }}</td>
                            <td class="text-center">
                                <a class="btn btn-primary btn-xs" [routerLink]="['/user-update', usuario.id]" role="button"><span class="ti-settings"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h6 class="card-subtitle" *ngIf="palabra.value.length > 0"> {{ usuarios.length }} usuarios encontrados de {{ usuariosDB.users.length }} registros</h6>
                <div *ngIf="usuarios.length === 0">
                    <div class="alert alert-primary" role="alert">
                        <strong>No hay resultados para esta busqueda</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>