<div class="card">
    <div class="col-1"></div>
    <div class="col-12">
        <div class="card-body">
            <div class="row">
                <div class="col-6 m-t-20">
                    <h6 class="card-subtitle">Lista de usuarios registrados es el sistema ({{ total }}) </h6>
                </div>
                <div class="col-6 floating-labels m-t-10">
                    <div class="form-group m-b-5">
                        <input type="text" #palabra [(ngModel)]="busquedaPalabra" (keyup)="busqueda(palabra.value)" id="palabra" name="busqueda" class="form-control">
                        <span class="bar"></span>
                        <label for="" class="card-subtitle">Buscar...</label>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table color-table success-table table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{'Nombre' | uppercase }}</th>
                            <th>{{'Apellido' | uppercase}}</th>
                            <th>{{'Email' | uppercase}}</th>
                            <th>{{'Telefono' | uppercase}}</th>
                            <th>{{'jerarquia' | uppercase}}</th>
                            <th class="text-center">{{'Acci&oacute;n' | uppercase}}</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let usuario of usuarios; index as i">
                        <tr>
                            <td style="width: 5%;">{{ (i + 1) }}</td>
                            <td style="width: 12%;">{{ usuario.name }}</td>
                            <td style="width: 12%;">{{ usuario.apellido }}</td>
                            <td style="width: 37%;">{{ usuario.email }}</td>
                            <td style="width: 10%;">{{ usuario.telefono }}</td>
                            <td style="width: 14%;">
                                <span class="badge" style="width: 100%" [ngClass]="{'badge-success': usuario.type === 'conductor', 'badge-warning': usuario.type === 'user','badge-primary': usuario.type === 'superAdmin', 'badge-info': usuario.type === 'admin' }">
                      {{ usuario.type | uppercase }} 
                        </span>
                            </td>
                            <td class="text-center">


                                <button class="btn btn-primary btn-xs" [disabled]="usuario.deleted_at" [routerLink]="['/user-update', usuario.id]" role="button"><span class="ti-settings"></span></button>

                                <a *ngIf="!usuario.deleted_at; else activo" title="desactivar" class="btn btn-danger btn-xs" style="color: #ffffff" (click)="borrarUser( usuario.id )" role="button"><span class="ti-trash"></span></a>
                                <ng-template #activo>
                                    <a class="btn btn-success btn-xs" title="reactivar" style="color: #ffffff" (click)="reactivarUser( usuario.id )" role="button"><span class="ti-check"></span></a>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">

                        <li class="page-item">
                            <div *ngIf="prev_page_url; else prevPageButton">
                                <a class="page-link" (click)="nexPage( usuariosDB.users.prev_page_url )">Previous</a>
                            </div>
                            <ng-template #prevPageButton>
                                <button class="page-link btn btn-link" disabled="disabled">Previous</button>
                            </ng-template>
                        </li>

                        <li class="page-item" [ngClass]="{'active': pagina === usuariosDB.users.current_page}" *ngFor="let pagina of numeroPaginas">
                            <button class="page-link " [disabled]="pagina === usuariosDB.users.current_page" #paginaActual (click)="irA( pagina )"> {{ pagina }} </button>
                        </li>

                        <li class="page-item">
                            <div *ngIf="next_page_url; else nexPageButton">
                                <a class="page-link" (click)="nexPage( usuariosDB.users.next_page_url )">Previous</a>
                            </div>
                            <ng-template #nexPageButton>
                                <button class="page-link btn btn-link" disabled="disabled">Previous</button>
                            </ng-template>
                        </li>
                    </ul>
                </nav>
                <h6 class="card-subtitle">Mostrando {{ usuarios.length }} usuarios de {{ total }} registros</h6>
                <div *ngIf="usuarios.length === 0">
                    <div class="alert alert-primary" role="alert">
                        <strong>No hay resultados para esta busqueda</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>