<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Registro de Tabulador</h5>
                <h6 class="card-subtitle">Sistema de registro de tabulador al sistema</h6>
                <form [formGroup]="forma" (ngSubmit)="enviarFormulario()" class="floating-labels m-t-40" id="form-register">

                    <div class="row">

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="por_bono_nocturno" name="por_bono_nocturno" class="form-control">
                                <span class="bar"></span>
                                <label for="name">Porcentaje agregado por bono nocturno (%)</label>
                                <app-mensajes-forms [forma]="forma" selectorName="por_bono_nocturno" [min]="min" [max]="max" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="por_encomienda" name="por_encomienda" class="form-control">
                                <span class="bar"></span>
                                <label for="name">Porcentaje agregado por encomienda (%)</label>
                                <app-mensajes-forms [forma]="forma" selectorName="por_encomienda" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="monto_pernocta" name="monto_pernocta" class="form-control">
                                <span class="bar"></span>
                                <label for="name">Monto por pernocta</label>
                                <app-mensajes-forms [forma]="forma" selectorName="monto_pernocta" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="monto_horas" name="monto_horas" class="form-control">
                                <span class="bar"></span>
                                <label for="name">Monto horas de espera</label>
                                <app-mensajes-forms [forma]="forma" selectorName="monto_horas" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="por_fin_semana" name="por_fin_semana" class="form-control">
                                <span class="bar"></span>
                                <label for="name">Porcentaje por fin de semana (%)</label>
                                <app-mensajes-forms [forma]="forma" selectorName="por_fin_semana" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="monto_desv_inter" name="monto_desv_inter" class="form-control">
                                <span class="bar"></span>
                                <label for="name">Monto desvio  interno</label>
                                <app-mensajes-forms [forma]="forma" selectorName="monto_desv_inter" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="monto_desv_exter" name="monto_desv_exter" class="form-control">
                                <span class="bar"></span>
                                <label for="name">Monto desvio externo</label>
                                <app-mensajes-forms [forma]="forma" selectorName="monto_desv_exter" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="fecha_inicio" name="fecha_inicio" class="form-control">
                                <span class="bar"></span>
                                <label for="name">Fecha de inicio</label>
                                <app-mensajes-forms [forma]="forma" selectorName="fecha_inicio" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button type="button" class="btn btn-info waves-effect text-left" [routerLink]="['/']" data-dismiss="modal">volver</button>
                            <span class="pull-right">
                                <button type="button" (click)="limpiar()" class="btn btn-warning waves-effect text-left">Limpiar</button>
                                <button type="submit" [disabled]="forma.invalid || forma.pending" class="btn btn-primary waves-effect text-left"> <span class="ti-save"></span> Registrar</button>
                            </span>
                        </div>
                    </div>
                    <div class="row container-fluid">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div *ngIf="false" class="alert alert-danger" role="alert">
                                <strong>Aca es donde van los errores retornados de la base de datos</strong>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>