<div class="modal" *ngIf="showModal" [ngStyle]="{'display': showModal ? 'block': 'hidden' }" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Generaci&oacute;n de Factura</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal form-material">
                    <div class="form-group">
                        <div class="col-md-12 m-b-20">
                            <select (change)="buscar_empresa(empresaSeleccionada.value)" class="custom-select col-12" id="inlineFormCustomSelect" #empresaSeleccionada>

                                <option selected="">Seleccione la Empresa...</option>
                                <option *ngFor="let empresa of empresas" value="{{ empresa.idEmpresas }}"> {{ empresa.name | uppercase }} </option>

                            </select>
                        </div>
                        <div class="col-md-12 m-b-20">
                            Direcci&oacute;n: <strong class="pull-right">    Aguna parte de caracas  </strong>
                        </div>
                        <div class="col-md-12 m-b-20">
                            Telefono: <strong class="pull-right"> 0212-202-3111</strong>
                        </div>
                        <div class="col-md-12 m-b-20">
                            RIF: <strong class="pull-right"> j-00006390-5 </strong>
                        </div>
                        <div class="col-md-12 m-b-20">
                            Base Imponible: <strong class="pull-right"> {{ totalFactura | number: '.2-2' }} </strong>
                        </div>
                        <div class="col-md-12 m-b-20">
                            IVA 16 %:<strong class="pull-right">  23.56</strong>
                        </div>
                        <div class="col-md-12 m-b-20">
                            Total General: <strong class="pull-right"> 100.569,12 </strong>
                        </div>
                        <div class="col-md-12 m-b-20 form-group">
                            <input type="text" class="form-control" placeholder="Ingrese numero de factura">
                        </div>
                        <div class="col-md-12 m-b-20 form-group">
                            <input type="text" class="form-control" placeholder="Ingrese fecha de factura">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect">Generar Factura</button>
                <button type="button" class="btn btn-default waves-effect" (click)="cerraModal()">Cancelar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>