<div class="card">
    <div class="col-1"></div>
    <div class="col-12">
        <div class="card-body">
            <div class="row">
                <div class="col-8 m-t-20">
                    <h6 class="card-subtitle">Lista de servicios registrados es el sistema ({{ total }}) Total Facturado ({{ serviciosDB.total | number:'.2-2'}} Bs) </h6>
                </div>
                <div class="col-4 floating-labels m-t-10">
                    <div class="form-group m-b-5">
                        <input type="text" #palabra [(ngModel)]="busquedaPalabra" (keyup)="busqueda(palabra.value)" id="palabra" name="busqueda" class="form-control">
                        <span class="bar"></span>
                        <label for="" class="card-subtitle">Buscar...</label>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table color-table success-table table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{'Fecha' | uppercase }}</th>
                            <th>{{'Facturado' | uppercase}}</th>
                            <th>{{'total' | uppercase}}</th>
                            <th>{{'conductor' | uppercase}}</th>
                            <th>{{'estatus' | uppercase}}</th>
                            <th class="text-center">{{'Acci&oacute;n' | uppercase}}</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let servicio of servicios; index as i">
                        <tr>
                            <td style="width: 5%;">{{ (i + 1) }}</td>
                            <td style="width: 12%;">{{ servicio.fechaServicio | date:'dd-MM-yyyy' }}</td>
                            <td style="width: 12%;">{{ servicio.facturado }}</td>
                            <td style="width: 15%;">{{ servicio.totalMonto | number:'.2-2' }} Bs</td>
                            <td style="width: 25%;">
                                <span *ngIf="servicio.r_realizado; else rRealizado"> {{servicio.r_realizado.name | uppercase}} {{servicio.r_realizado.apellido | uppercase}} </span>
                                <ng-template #rRealizado>
                                    Sin Informaci&oacute;n
                                </ng-template>
                            </td>
                            <td style="width: 15%;">
                                <span *ngIf="servicio.ODC === 'SI'; else facturar_servicio">

                                    <div *ngIf="! servicio.ODC_number; else status_servicio">
                                        <span style="cursor: pointer; color: cornflowerblue" title="haga click para registrar numero de ODC" (click)="datosServicio( servicio.idCorreos,'mostrarODC' )"> En espera de ODC </span>
            </div>
            <ng-template #status_servicio>
                <strong> {{ servicio.ODC_number }} </strong>
            </ng-template>
            </span>
            <ng-template #facturar_servicio>
                Facturar
            </ng-template>
            </td>
            <td class="text-center">
                <button class="btn btn-success btn-xs action" title="Detalle de servicio" (click)="datosServicio(servicio.idCorreos, 'mostrarDetalle')" role="button"><span class="ti-eye"></span></button>
                <button class="btn btn-primary btn-xs action" [disabled]="servicio.deleted_at" [routerLink]="['/servicio-update', servicio.idCorreos]" role="button"><span class="ti-settings"></span></button>
                <a *ngIf="!servicio.deleted_at; else activo" title="desactivar" class="btn btn-danger btn-xs action" style="color: #ffffff" (click)="borrarServicio( servicio.idCorreos )" role="button"><span class="ti-trash"></span></a>
                <ng-template #activo>
                    <a class="btn btn-warning btn-xs action" title="reactivar" style="color: #ffffff" (click)="reactivarServicio( servicio.idCorreos )" role="button"><span class="ti-check"></span></a>
                </ng-template>
            </td>
            </tr>
            </tbody>
            </table>
            <nav aria-label="Page navigation example" *ngIf="Ok">
                <ul class="pagination justify-content-center">

                    <li class="page-item">
                        <div *ngIf="prev_page_url; else prevPageButton">
                            <a class="page-link" (click)="nexPage( serviciosDB.correos.prev_page_url )">Previous</a>
                        </div>
                        <ng-template #prevPageButton>
                            <button class="page-link btn btn-link" disabled="disabled">Previous</button>
                        </ng-template>
                    </li>

                    <li class="page-item" [ngClass]="{'active': pagina === serviciosDB.correos.current_page}" *ngFor="let pagina of numeroPaginas">
                        <button class="page-link " [disabled]="pagina === serviciosDB.correos.current_page" #paginaActual (click)="irA( pagina )"> {{ pagina }} </button>
                    </li>

                    <li class="page-item">
                        <div *ngIf="next_page_url; else nexPageButton">
                            <a class="page-link" (click)="nexPage( serviciosDB.correos.next_page_url )">Previous</a>
                        </div>
                        <ng-template #nexPageButton>
                            <button class="page-link btn btn-link" disabled="disabled">Previous</button>
                        </ng-template>
                    </li>
                </ul>
            </nav>
            <h6 class="card-subtitle">Mostrando {{ servicios.length }} servicios de {{ total }} registros</h6>
            <div *ngIf="!Ok">
                <div class="alert alert-primary" role="alert">
                    <strong>{{ mensaje }}</strong>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Seccion de la modal -->

<div class="modal" *ngIf="mostrarDetalle" tabindex="-1" role="dialog" [ngStyle]="{'display': mostrarDetalle ? 'block': 'hidden' }">
    <!-- <div *ngIf="mostrarDetalle" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"> -->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Visualizacion de servicio realizado</h4>
                <button type="button" class="close" (click)="mostrarDetalle = false;">×</button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <table class="table table-no-bordered table-condensed table-sm" style="font-family: 'Courier New', Courier, monospace; font-size: 10pt">
                        <thead>
                            <tr>
                                <td colspan="13"> {{ detalleServicio.mensaje }} </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4"> <strong> {{ detalleServicio.fechaServicio | date:"dd/MM//yyyy"}} </strong></td>
                                <td colspan="9"></td>
                            </tr>
                            <tr>
                                <th colspan="13" style="background-color: #007ACB; color: #ffffff"> <strong> DETALLES DE RECORRIDOS </strong> </th>
                            </tr>
                            <tr *ngFor="let recorrido of detalleServicio.r_recorridos; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{recorrido.origen}}</td>
                                <td>-</td>
                                <td>{{recorrido.destino}}</td>
                                <td>=</td>
                                <td colspan="2">{{ recorrido.cantidad }} {{ recorrido.concepto }}</td>
                                <td>x</td>
                                <td colspan="2">{{recorrido.recorrido | number:'.2-2'}} bs/{{ recorrido.concepto }}</td>
                                <td>=</td>
                                <td>{{ (recorrido.recorrido * recorrido.cantidad) | number:'.2-2' }}</td>
                                <td>bs</td>

                            </tr>
                            <tr>
                                <th colspan="13" style="background-color: #007ACB; color: #ffffff"> <strong> VALORES GENERALES </strong> </th>
                            </tr>
                            <tr *ngIf="detalleServicio.monto_nocturno > 0">
                                <td colspan="3"></td>
                                <td colspan="1"> Nocturno </td>
                                <td>=</td>
                                <td class="text-center" colspan="2">{{ detalleServicio.r_tabulador.por_bono_nocturno | number:'.2-2'}} %</td>
                                <td>x</td>
                                <td class="text-center" colspan="2">{{ detalleServicio.monto_nocturno | number:'.2-2' }} bs</td>
                                <td>=</td>
                                <td> {{detalleServicio.r_tabulador.por_bono_nocturno * (detalleServicio.monto_nocturno / 100 ) | number:'.2-2'}} </td>
                                <td>bs</td>
                            </tr>
                            <tr *ngIf="detalleServicio.monto_encomienda > 0">
                                <td colspan="3"></td>
                                <td colspan="1"> Encomienda </td>
                                <td>=</td>
                                <td class="text-center" colspan="2">{{ detalleServicio.r_tabulador.por_encomienda | number:'.2-2' }} %</td>
                                <td>x</td>
                                <td class="text-center" colspan="2">{{ detalleServicio.monto_encomienda | number:'.2-2'}} bs</td>
                                <td>=</td>
                                <td>{{ detalleServicio.r_tabulador.por_encomienda * ( detalleServicio.monto_encomienda / 100) | number: '.2-2'}}</td>
                                <td>bs</td>
                            </tr>
                            <tr *ngIf="detalleServicio.cantHoras > 0">
                                <td colspan="3"></td>
                                <td colspan="1"> Espera </td>
                                <td>=</td>
                                <td class="text-center" colspan="2">{{ detalleServicio.cantHoras }} hrs</td>
                                <td>x</td>
                                <td class="text-center" colspan="2">{{ detalleServicio.r_tabulador.monto_horas | number:'.2-2'}} bs/hr</td>
                                <td>=</td>
                                <td>{{ detalleServicio.monto_horas | number: '.2-2' }}</td>
                                <td>bs</td>
                            </tr>
                            <tr>
                                <td colspan="8" class="text-right">
                                    <h3>Total a cancelar:</h3>
                                </td>
                                <td colspan="5">
                                    <h3> <strong> ({{ detalleServicio.totalMonto | number: '.2-2'}} bs )</strong> </h3>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect text-right" (click)="mostrarDetalle = false;">Cerrar</button>
                <!-- <button type="button" class="btn btn-success waves-effect text-left" (click)="enviarFormulario();"> <span class="ti-save"></span> Guardar Servicio</button> -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal" *ngIf="mostrarODC" tabindex="-1" role="dialog" [ngStyle]="{'display': mostrarODC ? 'block': 'hidden' }">
    <!-- <div *ngIf="mostrarDetalle" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"> -->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form [formGroup]="forma" (ngSubmit)="enviarODC(detalleServicio.idCorreos)" class="floating-labels m-t-40" id="form-register">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Ingreso de ODC para la orden con monto {{ detalleServicio.totalMonto | number:'.2-2' }} Bs</h4>
                    <button type="button" class="close" (click)="mostrarODC = false;">×</button>
                </div>
                <div class="modal-body">
                    <div class="col-12">
                        <input type="text" formControlName="ODC_number" name="ODC_number" class="form-control" placeholder="Ingrese el Numero de ODC">
                        <app-mensajes-forms [forma]="forma" selectorName="ODC_number" [caracterMin]="3" [caracterMax]="11"></app-mensajes-forms>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="forma.pending || forma.invalid" class="btn btn-primary waves-effect text-left"> <span class="ti-save"></span> Registrar ODC</button>
                    <button type="button" class="btn btn-danger waves-effect text-right" (click)="mostrarODC = false;">Cerrar</button>
                    <!-- <button type="button" class="btn btn-success waves-effect text-left" (click)="enviarFormulario();"> <span class="ti-save"></span> Guardar Servicio</button> -->
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>