<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Registro de usuario</h5>
                <h6 class="card-subtitle">Sistema de registro de usuarios al sistema</h6>
                <form [formGroup]="forma" (ngSubmit)="enviarFormulario()" class="floating-labels m-t-40" id="form-register">

                    <div class="row">

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="name" name="name" class="form-control">
                                <span class="bar"></span>
                                <label for="name">Nombre</label>
                                <app-mensajes-forms [forma]="forma" selectorName="name" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="apellido" name="apellido" class="form-control">
                                <span class="bar"></span>
                                <label for="">Apellido</label>
                                <app-mensajes-forms [forma]="forma" selectorName="apellido" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="cedula" name="cedula" class="form-control">
                                <span class="bar"></span>
                                <label for="">Cedula</label>
                                <app-mensajes-forms [forma]="forma" selectorName="cedula" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                                <span *ngIf="erroresBack?.cedula" class="inputlabel errorClass"> <small> {{ erroresBack.cedula }} </small></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="direccion" name="direccion" class="form-control">
                                <span class="bar"></span>
                                <label for="">Direcci&oacute;n</label>
                                <app-mensajes-forms [forma]="forma" selectorName="direccion" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <input type="telefono" formControlName="telefono" name="telefono" class="form-control">
                                <span class="bar"></span>
                                <label for="">Telefono</label>
                                <app-mensajes-forms [forma]="forma" selectorName="telefono" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <input type="email" formControlName="email" name="email" class="form-control">
                                <span class="bar"></span>
                                <label for="">Email</label>
                                <app-mensajes-forms [forma]="forma" selectorName="email" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                                <span *ngIf="erroresBack?.email" class="inputlabel errorClass"> <small> {{ erroresBack.email }} </small></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <select formControlName="type" name="type" class="form-control p-0" id="input7">
                                    <option></option>
                                    <option value="superAdmin">Administrador</option>
                                    <option value="admin">Administrativo</option>
                                    <option value="user">Usuario</option>
                                    <option value="conductor">Trabajador</option>
                                </select>
                                <span class="bar"></span>
                                <label for="input6">Tipo</label>
                                <app-mensajes-forms [forma]="forma" selectorName="type" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <input type="password" formControlName="password" name="password" class="form-control">
                                <span class="bar"></span>
                                <label for="">Clave</label>
                                <app-mensajes-forms [forma]="forma" selectorName="password" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group m-b-40">
                                <input type="password" formControlName="password_confirmation" name="password_confirm" class="form-control">
                                <span class="bar"></span>
                                <label for="">Repita la clave</label>
                                <app-mensajes-forms [forma]="forma" selectorName="password_confirmation" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button type="button" class="btn btn-info waves-effect text-left" [routerLink]="['/']" data-dismiss="modal">volver</button>
                            <span class="pull-right">
                                <button type="button" (click)="limpiar()" class="btn btn-warning waves-effect text-left">Limpiar</button>
                                <button type="submit" [disabled]="forma.invalid || forma.pending" class="btn btn-primary waves-effect text-left"> <span class="ti-save"></span> Registrar</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>