<div class="card">
    <div class="col-1"></div>
    <div class="col-12">
        <div class="card-body">
            <div class="row">
                <div class="col-8 m-t-20">
                    <h6 class="card-subtitle">Lista de servicios registrados por facturar ({{ total }}) Total pendiente ({{totalFacturado | number: '.2-2'}} Bs) </h6>
                </div>
                <div class="col-4 floating-labels m-t-10">
                    <div class="form-group m-b-5">
                        <!-- <input type="text" #palabra [(ngModel)]="busquedaPalabra" (keyup)="busqueda(palabra.value)" id="palabra" name="busqueda" class="form-control"> -->
                        <span class="bar"></span>
                        <label for="" class="card-subtitle">Buscar...</label>
                    </div>
                </div>
            </div>
            <div class="">

                <table class="table color-table success-table table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Check</th>
                            <th>{{'Fecha' | uppercase }}</th>
                            <th>{{'ODC' | uppercase}}</th>
                            <th>{{'Monto' | uppercase}}</th>
                            <th>{{'Usuario' | uppercase}}</th>
                            <th>{{'Conductor' | uppercase}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let servicio of servicios; index as i">
                            <td style="width: 5%;">{{ i + 1 }}</td>
                            <td>
                                <app-check [idServicio]="servicio.idCorreos" [iteration]="i" (idSeleccionado)="seleccionServicio($event)"></app-check>
                            </td>
                            <td style="width: 12%;">{{ servicio.fechaServicio | date:'dd-MM-yyyy' }}</td>
                            <td style="width: 15%;">{{ servicio.ODC === 'SI' ? servicio.ODC_number : 'N/A' }}</td>
                            <td style="width: 12%;">{{ servicio.totalMonto | number: '.2-2' }}</td>
                            <td style="width: 25%;">{{ servicio.r_usuario.name }} {{ servicio.r_usuario.apellido }}</td>
                            <td style="width: 25%;">{{ servicio.r_realizado.name }} {{ servicio.r_realizado.apellido }}</td>
                        </tr>
                    </tbody>
                </table>
                <tfoot>
                    <button class="btn btn-info btn-rounded" [disabled]="!empresas.length || !seleccionadas.length" (click)="show_modal()">Generar Factura</button>
                </tfoot>
                <nav aria-label="Page navigation example" *ngIf="Ok">
                    <ul class="pagination justify-content-center">

                        <li class="page-item">
                            <div *ngIf="prev_page_url; else prevPageButton">
                                <a class="page-link" (click)="nexPage( serviciosDB.correos.prev_page_url )">Previous</a>
                            </div>
                            <ng-template #prevPageButton>
                                <button class="page-link btn btn-link" disabled="disabled">Previous</button>
                            </ng-template>
                        </li>

                        <li class="page-item" [ngClass]="{'active': pagina === serviciosDB.correos.current_page}" *ngFor="let pagina of numeroPaginas">
                            <button class="page-link " [disabled]="pagina === serviciosDB.correos.current_page" #paginaActual (click)="irA( pagina )"> {{ pagina }} </button>
                        </li>

                        <li class="page-item">
                            <div *ngIf="next_page_url; else nexPageButton">
                                <a class="page-link" (click)="nexPage( serviciosDB.correos.next_page_url )">Previous</a>
                            </div>
                            <ng-template #nexPageButton>
                                <button class="page-link btn btn-link" disabled="disabled">Previous</button>
                            </ng-template>
                        </li>
                    </ul>
                </nav>
                <h5 class="card-subtitle">
                    <strong *ngIf="seleccionadas.length"> Servicios seleccionados {{ seleccionadas.length }} con un monto total de {{ totalFactura |number: '.2-2'}} </strong>
                </h5>
                <div *ngIf="!Ok">
                    <div class="alert alert-primary" role="alert">
                        <strong>{{ mensaje }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Seccion de la modal -->


<app-factura-generar [empresas]="empresas" [totalFactura]="totalFactura" 
    [showModal]="showModal" (event_generar)="generarFactura( $event )" 
    (empresa_id)="empresaID"
    (cerrar_modal)="close_modal($event)"></app-factura-generar>