<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Registro de servicio realizado</h5>
                <h6 class="card-subtitle">Sistema de registro de servicios al sistema</h6>
                <hr>
                <app-alert *ngIf="mostrarMensaje" [mensaje]="mensajeAlert" [type]="tipoAlert"></app-alert>
                <form [formGroup]="forma" (ngSubmit)="enviarFormulario()" class="floating-labels m-t-40" id="form-register">


                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <h3>Fecha de Servicio</h3>
                            <br>
                        </div>
                        <div class="col-6 text-center">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="fechaServicio" name="fechaServicio" class="form-control">
                                <span class="bar"></span>
                                <!-- <label for=""><h3>Fecha de Realizaci&oacute;n</h3></label> -->
                                <app-mensajes-forms [forma]="forma" selectorName="fechaServicio" id="fechaServicio" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-12">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="mensaje" name="mensaje" class="form-control">
                                <span class="bar"></span>
                                <label for="name">Mensaje</label>
                                <app-mensajes-forms [forma]="forma" selectorName="mensaje" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <h3>Datos de recorridos</h3>
                            <br>
                        </div>
                    </div>
                    <div class="row" *ngFor="let prac of forma.controls['origen'].controls; let i = index">
                        <div class="col-1">{{ i + 1}}</div>
                        <div class="col-2">
                            <div class="form-group m-b-40" formArrayName="origen">
                                <input type="text" [formControlName]="i" name="origen" class="form-control">
                                <span class="bar"></span>
                                <label for="">Origen</label>
                                <app-mensajes-forms [forma]="forma" selectorName="origen" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>


                        <div class="col-2">
                            <div class="form-group m-b-40" formArrayName="destino">
                                <input type="text" [formControlName]="i" name="destino" class="form-control">
                                <span class="bar"></span>
                                <label for="">Destino</label>
                                <app-mensajes-forms [forma]="forma" selectorName="destino" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-1">
                            <div class="form-group m-b-40" formArrayName="cantidad">
                                <input type="text" [formControlName]="i" name="cantidad" class="form-control">
                                <span class="bar"></span>
                                <label for="">Cantidad</label>
                                <app-mensajes-forms [forma]="forma" selectorName="cantidad" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-2">
                            <div class="form-group m-b-40" formArrayName="concepto">
                                <select [formControlName]="i" name="concepto" (change)="cambioConcepto(i, 'recorrido'+i)" class="form-control p-0" id="input7">
                                <option value="DesvInter">Desvio Interno</option>
                                <option value="DesvExter">Desvio Externo</option>
                                <option value="Traslado">Viaje</option>
                            </select>
                                <span class="bar"></span>
                                <label for="input6">Concepto: </label>
                                <app-mensajes-forms [forma]="forma" selectorName="concepto" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-2">
                            <div class="form-group m-b-40" formArrayName="recorrido">
                                <input type="text" [formControlName]="i" readonly='readonly' id="recorrido{{i}}" name="recorrido" class="form-control">
                                <span class="bar"></span>
                                <label for="">Monto</label>
                                <app-mensajes-forms [forma]="forma" selectorName="recorrido" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>


                        <div class="col-1">
                            <div class="form-group m-b-40" formArrayName="encomienda">
                                <select [formControlName]="i" name="encomienda" class="form-control p-0" id="input7">
                                <option></option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                                <span class="bar"></span>
                                <label for="input6">Encomi.</label>
                                <app-mensajes-forms [forma]="forma" selectorName="encomienda" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-1">
                            <div class="form-group m-b-40" formArrayName="nocturno">
                                <select [formControlName]="i" name="nocturno" class="form-control p-0" id="input7">
                                <option></option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                              </select>
                                <span class="bar"></span>
                                <label for="input6">Noctur.</label>
                                <app-mensajes-forms [forma]="forma" selectorName="nocturno" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>
                    </div>

                    <button type="button" (click)="agregarOtro()" class="btn btn-primary">Agregar Otro</button>
                    <hr>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="cantHoras" name="cantHoras" class="form-control">
                                <span class="bar"></span>
                                <label for="">Horas de espera</label>
                                <app-mensajes-forms [forma]="forma" selectorName="cantHoras" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="cantPernocta" name="cantPernocta" class="form-control">
                                <span class="bar"></span>
                                <label for="">Cantidad de Pernoctas</label>
                                <app-mensajes-forms [forma]="forma" selectorName="cantPernocta" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group m-b-40">
                                <input type="text" formControlName="cantCorreos" name="cantCorreos" class="form-control">
                                <span class="bar"></span>
                                <label for="">Catidad de servicios</label>
                                <app-mensajes-forms [forma]="forma" selectorName="cantCorreos" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group m-b-40">
                                <select formControlName="bono_finSemana" name="bono_finSemana" class="form-control p-0" id="input7">
                                  <option></option>
                                  <option value="SI">SI</option>
                                  <option value="NO">NO</option>
                              </select>
                                <span class="bar"></span>
                                <label for="input6">Bono fin de semana</label>
                                <app-mensajes-forms [forma]="forma" selectorName="bono_finSemana" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group m-b-40">
                                <select formControlName="ODC" name="ODC" class="form-control p-0" id="input7">
                                <option></option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                                <span class="bar"></span>
                                <label for="input6">Lleva ODC</label>
                                <app-mensajes-forms [forma]="forma" selectorName="ODC" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group m-b-40">
                                <select formControlName="realizado_por" name="realizado_por" class="form-control p-0" id="input7">
                              <option [value]="usuario.id" *ngFor="let usuario of usuarios" > {{ usuario.name }} {{ usuario.apellido }} C.I {{ usuario.cedula }} </option>
                          </select>
                                <span class="bar"></span>
                                <label for="input6">Realizado Por: </label>
                                <app-mensajes-forms [forma]="forma" selectorName="realizado_por" [caracterMin]="caracterMin" [caracterMax]="caracterMax"></app-mensajes-forms>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button type="button" class="btn btn-info waves-effect text-left" [routerLink]="['/']" data-dismiss="modal">volver</button>
                            <span class="pull-right">
                              <button type="button" (click)="limpiar()" class="btn btn-warning waves-effect text-left">Limpiar</button>
                              <button type="submit" [disabled]="forma.invalid || forma.pending" class="btn btn-primary waves-effect text-left"> <span class="ti-save"></span> Registrar</button>
                            </span>
                        </div>
                    </div>
                    <div class="row container-fluid">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div *ngIf="false" class="alert alert-danger" role="alert">
                                <strong>{{ forma.controls['mensaje'].errors?.existe }}</strong>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" class="model_img img-responsive"> Sacar Modal </button>
<!-- <img src="../assets/images/alert/model2.png" alt="default" data-toggle="modal" data-target=".bs-example-modal-lg" class="model_img img-responsive" /> -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Verifique los datos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="col-12" *ngIf="mostrarDetalle">
                    <table class="table table-no-bordered table-condensed table-sm" style="font-family: 'Courier New', Courier, monospace; font-size: 10pt">
                        <thead>
                            <tr>
                                <td colspan="13"> {{ detalleServicio.mensaje }} </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4"> <strong> {{ detalleServicio.fechaServicio | date:"dd/MM//yyyy"}} </strong></td>
                                <td colspan="9"></td>
                            </tr>
                            <tr>
                                <th colspan="13" style="background-color: #007ACB; color: #ffffff"> <strong> DETALLES DE RECORRIDOS </strong> </th>
                            </tr>
                            <tr *ngFor="let recorrido of detalleServicio.origen; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{detalleServicio.origen[i]}}</td>
                                <td>-</td>
                                <td>{{detalleServicio.destino[i]}}</td>
                                <td>=</td>
                                <td colspan="2">{{ detalleServicio.cantidad[i] }} {{ detalleServicio.concepto[i] }}</td>
                                <td>x</td>
                                <td colspan="2">{{detalleServicio.recorrido[i] | number:'.2-2'}} bs/{{ detalleServicio.concepto[i] }}</td>
                                <td>=</td>
                                <td>{{ (detalleServicio.recorrido[i] * detalleServicio.cantidad[i]) | number:'.2-2' }}</td>
                                <td>bs</td>

                            </tr>
                            <tr>
                                <th colspan="13" style="background-color: #007ACB; color: #ffffff"> <strong> VALORES GENERALES </strong> </th>
                            </tr>
                            <tr *ngIf="detalleServicio.monto_nocturno > 0">
                                <td colspan="3"></td>
                                <td colspan="1"> Nocturno </td>
                                <td>=</td>
                                <td class="text-center" colspan="2">{{ tabulador.por_bono_nocturno | number:'.2-2'}} %</td>
                                <td>x</td>
                                <td class="text-center" colspan="2">{{ detalleServicio.monto_nocturno | number:'.2-2' }} bs</td>
                                <td>=</td>
                                <td> {{tabulador.por_bono_nocturno * (detalleServicio.monto_nocturno / 100 ) | number:'.2-2'}} </td>
                                <td>bs</td>
                            </tr>
                            <tr *ngIf="detalleServicio.monto_encomienda > 0">
                                <td colspan="3"></td>
                                <td colspan="1"> Encomienda </td>
                                <td>=</td>
                                <td class="text-center" colspan="2">{{ tabulador.por_encomienda | number:'.2-2' }} %</td>
                                <td>x</td>
                                <td class="text-center" colspan="2">{{ detalleServicio.monto_encomienda | number:'.2-2'}} bs</td>
                                <td>=</td>
                                <td>{{ tabulador.por_encomienda * ( detalleServicio.monto_encomienda / 100) | number: '.2-2'}}</td>
                                <td>bs</td>
                            </tr>
                            <tr *ngIf="detalleServicio.monto_espera > 0">
                                <td colspan="3"></td>
                                <td colspan="1"> Espera </td>
                                <td>=</td>
                                <td class="text-center" colspan="2">{{ detalleServicio.cantHoras }} hrs</td>
                                <td>x</td>
                                <td class="text-center" colspan="2">{{ tabulador.monto_horas | number:'.2-2'}} bs/hr</td>
                                <td>=</td>
                                <td>{{ detalleServicio.monto_espera | number: '.2-2' }}</td>
                                <td>bs</td>
                            </tr>
                            <tr>
                                <td colspan="8" class="text-right">
                                    <h3>Total a cancelar:</h3>
                                </td>
                                <td colspan="5">
                                    <h3> <strong> {{ detalleServicio.monto_general | number: '.2-2'}} bs ( {{(detalleServicio.monto_general / 100000) | number: '.2-2'}} bsS )</strong> </h3>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>